@font-face {
  font-family: Anton;
  src: url(fonts/Anton/Anton-Regular.ttf);
}
@font-face {
  font-family: Merriweather;
  src: url(fonts/Merriweather/Merriweather-Regular.ttf);
}
/* Header and nav start */
.navbar img {
  height: 80px;
  margin-left: 40px;
}

main {
  color: white;
}

.navbar {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 black;
}

.navbar * {
  display: inline;
}

.navbar li {
  margin: 20px;
}

.navbar li a {
  color: black;
  text-decoration: none;
}
/* Header and nav end */
body {
  height: 125vh;
  background-image: white;
  background-size: cover ;
  font-family: sans-serif;
  margin-top: 80px;
  padding: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  }

li{
  display: inline;
  }

.heading h1 {
  font-family: Anton;
  font-size: 50px;
  font-weight: 300;
  background-image: linear-gradient(to left, #7759c9, #c84545);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  margin-top: auto;
  margin-bottom: auto;
  padding: 10px; 
  
  }
.border {
    
    border: #7759c9 inset;
    border-width: 10px;
    padding: auto;

}
.subheading {
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  background-image: linear-gradient(to right, #7759c9, #c84545);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  }

h5 {
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  .intro p {
    font-family: Merriweather;
    

  }

  .intro {
    border: solid red;
  }
/*  */

